/*

My Custom CSS

*/


/* --------------------------------------
   Layout
   -------------------------------------- */




/* --------------------------------------
   Typography
   -------------------------------------- */



/* --------------------------------------
   Navbar
   -------------------------------------- */

  .navbar-brand {
    padding: 8px 10px;
  }

/* --------------------------------------
   Carousel
   -------------------------------------- */

   #myCarousel {
     margin-top: 60px;
     font-size: 1rem;
   }

   .carousel-caption {
     font-size: 1.5em;
   }

   .carousel-caption h4 {
     font-size: 2em;
   }

   #myCarousel .item {height: 210px;}

   #slide1 {
     background: url('../images/banner1.png') top center repeat;
   }

   #slide2 {
     background: url('../images/banner2.png') top center repeat;
   }

   #slide3 {
     background: url('../images/banner3.png') top center repeat;
   }


   @media (min-width: 1200px) {

     #myCarousel .item {height: 400px;}

     #myCarousel {font-size: 1.5rem;}

     #slide1 {
       background: url('../images/banner1_max1.png') top center repeat;
     }

     #slide2 {
       background: url('../images/banner2_max.png') top center repeat;
     }

     #slide3 {
       background: url('../images/banner3_max.png') top center repeat;
     }
   }

   @media (max-width: 768px) {

     #myCarousel .item {height: 210px;}

     #myCarousel {font-size: 0.8rem;}

    #slide1 {
      background: url('../images/banner1.png') top center repeat;
    }

    #slide2 {
      background: url('../images/banner2.png') top center repeat;
    }

    #slide3 {
      background: url('../images/banner3.png') top center repeat;
    }
  }

/* --------------------------------------
   Jumbotron
   -------------------------------------- */

  #myJumbotron .jumbotron{
     background: url('../images/bk1.png');
  }

  #myJumbotron .jumbotron h1 {
      color: white;
  }

  #myJumbotron .jumbotron p {
      color: white;
  }

  #myJumbotron .jumbotron small {
      color: lightgray;
  }

/* --------------------------------------
   Thumbnail
   -------------------------------------- */

  #myThumbnail {
    /* height: 0px;
    padding-bottom: 100%; */
    margin-top: 2%;
  }

  .thumbnail {
    height: 450px;
    overflow-y: scroll;
    /* padding-bottom: 100%; */
    /* padding: 0.5% 1% 2% 1%; */
  }

  /* .thumbnail  p {
    margin: 0.5% 3.5% 1% 3.5%;
  } */

  #myThumbnail img {
    margin: 20px auto;
    background-color: black;
    box-shadow: 1px 1px 2px #111010;
  }

  @media (max-width: 1200px) {
    #myThumbnail img {
      max-width: 80%;
    }
  }

  /* --------------------------------------
    mytabInfo 
    ---------------------------------------*/
  
  .linking p {
      padding-top: 3%;
  }
  .border-right {
    border-right: 1px solid #ddd;
}

.borders {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin: -1px;
}

/* ----------------------------------------
  list-group
  ----------------------------------------- */
.list-group-item {
  padding-left: 2%;
  padding-bottom:2%; 
}

  /* --------------------------------------
     Footer
     -------------------------------------- */

  footer {
  	background: #333;
  	color: #eee;
  	font-size: 11px;
  	padding: 20px;
  }


/* --------------------------------------
   Global Styles
   -------------------------------------- */



/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

}

/* Large desktop */
@media (min-width: 1200px) {

}
